In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [3]:
rows, columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 391
Number of columns: 11

In [4]:
#2.2 - An observation is a single row in a dataset, representing an individual instance or case. In the context of the dataset, each observation refers to a unique Animal Crossing character (villager). Each row in the dataset provides specific details about one villager, including attributes like their name, gender, personality, and other characteristics.
# A variable is a single column in a dataset. Variables show the characteristics or attributes that are recorded or described for each observation. In the context of the dataset, each variable provides specific information about a villager. Examples of the variables include: name - the villager's name, species - the type of animal they are, personality - their personality type etc.

summary = df.describe()
print(summary)

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [5]:
species_counts = df['species'].value_counts()
print(species_counts)

species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

In [6]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [7]:
# For the Titanic dataset, the differences between the dataset size shown by df.shape and what is reported by df.describe() can be clarified as follows:
# Number of Columns Analyzed:
# df.shape:
# Reports the total number of columns in the dataset, regardless of their data type (numeric or non-numeric).
# df.describe():
# By default, summarizes only numeric columns. Therefore, if the dataset contains categorical or non-numeric columns (such as 'sex', 'class', 'embarked'), these will not be included in the default summary. To include all columns, use df.describe(include='all'), which provides statistics for both numeric and non-numeric columns.
# Values in the 'Count' Column:
# df.shape:
# Shows the total number of rows in the dataset, without considering missing values.
# df.describe():
# The 'count' column represents the number of non-missing entries for each column. For columns with missing values, the 'count' will be less than the total number of rows. This is because df.describe() only counts the entries that are not missing.

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [8]:
# Attributes provide direct access to a property or value of an object and are accessed without parentheses. For instance, df.shape directly shows the dimensions of the DataFrame.
# Methods perform operations or computations on the object and return results. They require parentheses to be called, even if no arguments are needed. For example, df.describe() generates and returns a statistical summary of the DataFrame.

# Count: The number of non-missing values in a dataset.
# Mean: The average value, calculated by summing all values and dividing by the count.
# Standard Deviation: A measure of how spread out the values are from the mean.
# Min: The smallest value in the dataset.
# 25%: The first quartile; the value below which 25% of the data falls.
# 50%: The median; the middle value that separates the higher half from the lower half of the data.
# 75%: The third quartile; the value below which 75% of the data falls.
# Max: The largest value in the dataset.

#7 i) df.dropna(): used to remove rows or columns with missing values, cleaning the data while preserving the structure and all remaining columns.
# del df['col']: used to completely remove a specific column from the DataFrame, regardless of its content.
# One might use df.dropna() over def df['col'] in the case of surveys. df.dropna() can remove blank responses compared df['col'] which may delete data and potentially hinder the results of the results of the survey.
# ii) One might use def df['col'] over df.dropna() in the case of back up emails. The column may be mostly empty and are not the primary contact emails for individuals so it may be more efficient to completely delete the column.
# iii) Reduce Computational Load - Removing unnecessary columns with del df['col'] first makes df.dropna() more efficient by reducing the data it needs to process.
# Simplify Data Cleaning - Deleting irrelevant columns ensures df.dropna() only handles important columns, streamlining the data cleaning process.
# Prevent Unintended Data Loss - Removing irrelevant columns first avoids the risk of losing rows with useful data due to missing values in those irrelevant columns.
# iv) 

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(url)

# Inspect missing values (before)
print("Missing values before cleaning:")
print(titanic_df.isnull().sum())

Missing values before cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [10]:
# Remove irrelevant columns
del titanic_df['age']
del titanic_df['deck']

# Inspect the dataset after removing columns (after)
print("Missing values after removing irrelevant columns:")
print(titanic_df.isnull().sum())

Missing values after removing irrelevant columns:
survived       0
pclass         0
sex            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

In [14]:
# First chatgpt summary = "https://chatgpt.com/c/66e3afee-aef4-8007-934a-dda31ab4c094"

#8

import pandas as pd

url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
print(df.columns)
print(df.head())
df.groupby("name")["gender"].describe()

Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
       'song', 'phrase', 'full_id', 'url'],
      dtype='object')
   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

         count unique     top freq
name
Admiral      1      1    male    1
Agent S      1      1  female    1
Agnes        1      1  female    1
Al           1      1    male    1
Alfonso      1      1    male    1
...        ...    ...     ...  ...
Winnie       1      1  female    1
Wolfgang     1      1    male    1
Yuka         1      1  female    1
Zell         1      1    male    1
Zucker       1      1    male    1

[391 rows x 4 columns]

In [15]:
# The count in df.describe() gives a broad view of missing data across the entire DataFrame, while the count in df.groupby("col1")["col2"].describe() provides insights into missing data within specific groups.

In [18]:
# A: chatgpt B: chatgpt C: chatgpt D: chatgpt E: chatgpt F: chatgpt G: chatgpt

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [ ]:
# 9. somewhat

# Chatgpt conversation link 2 = "https://chatgpt.com/c/66e3b303-a53c-8007-90bd-029d99543e0d"